
/* Jelena */
.cbutton--effect-jelena::after {
	border: 2px solid rgba(111,148,182,0.5);
}

.cbutton--effect-jelena.cbutton--click::after {
	-webkit-animation: anim-effect-jelena 0.3s ease-out forwards;
	animation: anim-effect-jelena 0.3s ease-out forwards;
}

@-webkit-keyframes anim-effect-jelena {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}
